<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Playwright">
    <test name="Testing">
        <classes>
            <class name="org.example.tests.SimpleFormDemoTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->